/* CSS for web.monkeysphere.info

Copyright: 2008,2009,2010

Authors: 
Dan Scott <danscott@riseup.net>,
Micah Anderson <micah@riseup.net>,
Daniel Kahn Gillmor <dkg@fifthhorseman.net>,
Jameson Rollins <jrollins@finestructure.net>,
Jamie McClelland <jm@mayfirst.org>

License: This stylesheet is licensed under the GNU GPL, version 3 or
later (your choice).

The full text of the GPL can be found at:

  http://www.gnu.org/licenses/gpl.html

*/

h1 {
  -moz-border-radius: 3px;
  color: #433111;
  display: block;
  font-size: 1.6em;
  font-weight: normal;
  margin-top: 20px;
  background: #E9C4A8;
  padding: 3px 0 6px 8px;
  font-family: "Baskervald ADF Std",serif;
  border: 1px solid saddlebrown;
}

h2 {
  border-top: 1px solid saddlebrown;
  color: #433111;
  display: block;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: 20px;
  padding: 4px 0 0 8px;
  background: #e9c4a8;
}

h3 {
  color: #433111;
  font-size: 1.1em;
  margin-top: 20px;
  padding: 0px 0 0 8px;
  font-weight:bold;
}

body {
  color: #3F403F;
  font-family: "Liberation Sans",sans-serif;
  font-size: 0.96em;
  line-height: 22px;
  margin: 0;
}

*|*:visited {
  color: #f6a464;
}

*|*:-moz-any-link {
  text-decoration: none;
}

:-moz-any-link {
  cursor: pointer;
}

a:link { 
  color: #CC6600;
}

a:visited { 
  color: #79300C;
}

a:hover { 
  text-decoration: underline;
}

pre {
  background: #fcf6eb;
  border: 1px solid #aaa;
  padding: 3px 0px 0px 10px;
  margin-left: 10px;
  margin-right: 10em;
  overflow: auto;
  line-height: 20px;
}

table.sitenav {
  color: #79300C;
  border-bottom: 1px solid #6F4B30;
  font-size: larger;
  padding: 18px 5px 0 0px;
  width: 100%;
  background: none repeat scroll 0 0 #fff2e4;
  margin: 0px;
}

table.sitenav img.logo {
  margin: 0em;
  padding: 0px;
  vertical-align: bottom;
}

table.sitenav img.title {
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

table.sitenav a { 
  margin-right: 1em;
  font-size: 16px;
  font-family: sans-serif;
}

table.sitenav span.selflink { 
  font-weight: bold;
  text-decoration: underline;
  margin-right: 1em;
  font-variant: small-caps;
}

div.header { 
  text-align: right;
  display: none;
  padding: 0px;
}

div.actions { 
  text-align: right;
  display: none;
}

#sidebar {
  line-height: normal;
  width: 100%;
  float: none;
  margin: 0;
  padding: 0;
}

/* align main paragraphs to the right side of the monkey's finger */
#content {
  padding: 0 10px;
}

div#content > p { 
  margin-left: 0px;
  margin-right: 5em;
  padding: 0 0 0 8px;
}

/* only needed if we're doing footnotes... */
sup {
  font-size: 0.65em;
  font-weight: bold;
  vertical-align: text-top;
}

.footnotes {
  margin-left: 18px;
  margin-right: 5em;
}

:target {
  background-color: #F80;
}
